body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(135deg, rgb(42,42,139), rgb(228,206,228));
  font-family: "Segoe UI", sans-serif;
}

.main {
  width: min(95%, 600px);
  height: auto;
  padding: 1.5rem;
  background: linear-gradient(135deg,#2f2691,#134e47);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.log,
.reg {
  width: 100%;
  height: 44px;
  background: linear-gradient(135deg,#465261,#00796b);
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
.welcome-msg {
  color: white;
}
