/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
.main-body {
  font-family: serif;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  background-color: #1e1e2f;
  padding-top: 20px;
  color: rgb(202, 197, 186);
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main {
  margin-top: 76vh;
}

.logout {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 20px;
  width: 65px;
  height: 30px;
  padding-left: 10px;
  padding-top: 4px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.logout:hover {
  background-color: #333;
  color: #fff;
}

.name,
.email {
  font-weight: 500;
  color: #fff;
  font-size: small;
  margin-left: 4px;
  width: 20vw;
}

/* ADD TASK */
.addTask {
  margin-left: 15vw;
  width: 85vw;
  height: 25vh;
  background: linear-gradient(white, wheat);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

.heading {
  margin-left: 10px;
}

.input-div {
  display: flex;
  gap: 40px;
  margin-left: 10px;
  margin-top: 30px;
  font-weight: 500;
  font-size: large;
}

input {
  border: none;
  height: 30px;
  border-radius: 5px;
  padding-left: 4px;
  width: 250px;
  font-size: 16px;
}

#desc {
  width: 300px;
  height: 50px;
  border: none;
  padding: 4px;
  font-size: 16px;
  border-radius: 8px;
}

.submit-task {
  margin-top: 4.5vh;
}

.add-task-btn {
  background: #9094b6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.add-task-btn:hover {
  background: #1f2a6b;
}

/* TODO LIST */
.to-do-list-container {
  margin-left: 15vw;
  width: 85vw;
  padding: 2%;
}

.todo-item {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.task-del-btn{
  background: #9094b6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 50%;
}
.task-del-btn:hover{
  background: #334294;
}
.task-update-btn{
  background: #9094b6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 2%;
}

.task-update-btn:hover {
  background:rgb(59, 59, 104) ;
}

.task-para{
  margin-top: .2%;
  font-family: serif;
}

