body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(135deg,rgb(228,206,228),rgb(42,42,139));
  font-family: "Segoe UI", sans-serif;
}

.main {
  width: min(95%, 900px);
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.welcome {
  background: linear-gradient(135deg,#004d40,#00796b);
  color: white;
  padding: 2rem;
}

.signin {
  padding: 2rem;
  color: #00332a;
}

.signin_detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  width: 100%;
  max-width: 320px;
  height: 36px;
  background-color: #f0f9f7;
  border-radius: 6px;
  border: none;
  padding-left: 6px;
}

.sign-btn {
  margin-top: 1rem;
  padding: 10px;
  background: linear-gradient(white,wheat);
  color: #00332a;
  border-radius: 15px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .welcome,
  .signin {
    width: 50%;
  }
}
