<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="all">
        <h1>Welcome</h1>
        <p class="welcome-msg"> Login If You already have an Account, or create a New one</p>
    <div class="main">
        
        <div class="log" tabindex="0" onclick="window.location.href='/login_page'">Log In</div>
        <div class="reg" tabindex="0" onclick="window.location.href='/register_page'">Register</div>
    </div>
    </div>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>
